<div class="container mt-4">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Tìm kiếm</label>

      <input
        placeholder="Nhập từ khóa ...."
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="searching"
      />

    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>