<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Nodejs Demo</title>
  </head>
  <body>

    {{>header}}

    {{!-- File main.hbs sẽ bọc các file home.hbs và news.hbs mà mình định nghĩa --}}
    {{!-- Ngoài ra mình có thể chia ra làm nhiều file nhỏ và sử dụng chúng giống như header và footer --}}


    {{!-- Phần body là từ file home.hbs và news.hbs, khi ta nhập đúng route thì sẽ render ra file tương ứng  --}}
    {{!-- Ví dụ như home.hbs có route là '/' và news.hbs có route là '/news' thì khi nhập đúng route sẽ render ra file tương ứng --}}
    {{{body}}}


    {{>footer}}




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>